/* SWIPERJS */
.swiper-container {
    position: relative;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.swiper-button-prev,
.swiper-button-next {
    width: 2rem !important;
    height: 2rem !important;
    background-color: #006db8 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: #fff !important;
    font-size: 1rem !important;
    font-weight: bold !important;
}

.swiper-button-prev {
    left: -2.5rem !important;
}

.swiper-button-next {
    right: -2.5rem !important;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: fit-content !important;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    width: 1rem !important;
    height: 1rem !important;
}

.swiper-hero-section-custom-pagination.swiper-pagination-clickable
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border-radius: 1rem !important;
    width: 2rem !important;
    height: 1rem !important;
    background-color: #006db8;
}

.swiper-testimonial-section-custom-pagination.swiper-pagination-clickable
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border-radius: 1rem !important;
    width: 2rem !important;
    height: 1rem !important;
    background-color: #e40081;
}

.swiper-brand-section-custom-pagination.swiper-pagination-clickable
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border-radius: 1rem !important;
    width: 2rem !important;
    height: 1rem !important;
    background-color: #e40081;
}

.sticky-slider {
    position: fixed;
    top: 1rem;
    right: 3rem;
    width: 44rem;
    height: 20rem;
    z-index: 1000;
    transition: all 0.3s ease;
}

.sticky-slider .swiper-button-prev,
.sticky-slider .swiper-button-next {
    top: 60% !important;
}

.sticky-slider .swiper-container {
    width: 100%;
    height: 100%;
}

.sticky-slider .swiper-wrapper,
.sticky-slider .swiper-wrapper a {
    width: 44rem;
    height: 20rem;
}

.sticky-slider .swiper-wrapper a img:nth-child(1) {
    width: 44rem;
    height: 20rem;
    object-fit: fill;
}

.sticky-slider .swiper-wrapper a .sticky-slider .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sticky-slider .pagination {
    display: none !important;
}

@media (max-width: 768px) {
    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
    }
}
/* SWIPERJS */
