.swiper-wrapper .swiper-slide,
.swiper-wrapper .swiper-slide .react-player__preview {
    width: 10rem !important;
    height: 10rem !important;
}

.swiper.swiper-initialized.swiper-horizontal {
    @apply mx-0;
}

.product_description p,
.product_description ul {
    @apply mb-2;
}

.product_description ul {
    @apply list-disc list-inside;
}

.product-player-wrapper .react-player__preview {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-color: black;
    border-radius: 10px;
}