.specification_table_content table {
    @apply w-full mb-4;
}

.specification_table_content table,
.specification_table_content table tr th,
.specification_table_content table tr td {
    @apply border border-gray-300;
}

.specification_table_content table tr th {
    @apply px-4 py-2 text-start;
}

.specification_table_content table tr td {
    @apply px-4 py-2;
}

.specification_table_content table tbody tr:nth-child(even) th,
.specification_table_content table tbody tr:nth-child(even) td {
    @apply bg-gray-200;
}
